* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ul, ol {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

body {
  font-family: 'Pretendard', sans-serif;
}

/* haeder 영역 */
header {
  width: 100%;
  max-width: 1920px;
  min-height: 70px;
  padding: 9px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
}

.logo > img {
  vertical-align: middle;
}

.btn {
  background-color: #3692FF;
  color: #F3F4F6;
}

.btn-login {
  width: 128px;
  height: 48px;
  font-weight: 600;
  padding: 12px 23px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  line-height: 26px;
}

/* footer 영역 */
footer {
  max-width: 1920px;
  height: 160px;
  background-color: #111827;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 36px 0 0 0;
  max-width: 1120px;
}

.footer-copyright {
  color: #9CA3AF;

}

.footer-links > ul {
  display: flex;
  gap: 30px;
}

.footer-links a {
  color: #E5E7EB;
}

.footer-social {
  display: flex;
  gap: 12px;
}