* {
  box-sizing: border-box;
  font-family: Pretendard, sans-serif;
}

body {
  margin: 0;
  background-color: #FCFCFC;
}

header {
  background-color: #FFFFFF;
}

footer {
  background-color: #111827;
}

.home-top {
  background-color: #CFE5FF;
}

.home {
  background-color: #FFFFFF;
}

.home-1, .home-2, .home-3 {
  background-color: #FCFCFC;
}

.home-bottom {
  background-color: #CFE5FF;

}