:root {
  /* Primary color */
  --primary-100: #3692ff;
  --primary-200: #1967d6;
  --primary-300: #1251aa;

  /* Secondary color */
  --secondary-50: #f9fafb;
  --secondary-100: #f3f4f6;
  --secondary-200: #e5e7eb;
  --secondary-400: #9ca3af;
  --secondary-500: #6b7280;
  --secondary-600: #4b5563;
  --secondary-700: #374151;
  --secondary-800: #1f2937;
  --secondary-900: #111827;

  /* Error color */
  --error-500: #f74747;

  /* Disable color */
  --disable-400: #9ca3af;

  /* Font style */
  --font-primary: 'Pretendard Variable', sans-serif;
  --font-size-base: 16px;
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
  padding: 9.5px 20%;
  background-color: #ffffff;
  margin: 0 auto;
  min-width: 320px;
}

picture {
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 153px;
}

.header__login {
  width: 128px;
  height: 48px;
  padding: 12px 23px;
  color: white;
  background-color: var(--primary-100);
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
}

.header__login:hover {
  background-color: var(--primary-200);
}

@media (max-width: 744px) {
  .header {
    padding: 0 10%;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0 5%;
  }

  .header__logo img {
    width: 103px;
  }
}
